<!DOCTYPE>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
	<h1>Thank you for regestering with BlogApp! We hope that you can freely share your views with the most wonderful like and different minded people that you meet at your favorite new internet hanout! :)</h1>
</body>
</html>